.bb-custom-wrapper {

    width: 100%;

    height: 100%;

    position: relative;

}



.bb-custom-wrapper .bb-bookblock {

    width: 85%;

    height: 90%;

    box-shadow: 0 12px 20px -10px rgba(81,64,49,0.6);

    -webkit-perspective: 1000px;

    perspective: 1000px;

}
